nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;

    background-color: var(--black);
    height: 10vh;
    width: 100%;

    a {
        margin : 5%;
        font-size: 18px;

        :hover {
            color : var(--yellow);
        }
    }
}