<div class="title">
    <h1 class="reveal-top slow-transition">NILA GIRAUD</h1>
    
    <div class="title--items">
        <img class="title--item__image" #slideElement src="assets/images/photo-me.jpg" [@slideInRight]="visibleElements[0] == 'visible' ? 'visible' : 'hidden'" alt="myFace">

        <div class="title--items__summary" #slideElement [@slideInLeft]="visibleElements[1] == 'visible' ? 'visible' : 'hidden'">
            <p>Je suis actuellement étudiante à l'IUT Lyon 1 à Villeurbanne</p>
            <p>Depuis mon plus jeune âge, je suis passionnée par l'informatique, bien que ce soit seulement après avoir commencé mon BUT que j'ai pu approfondir cette passion. 
            En constante quête de nouvelles connaissances, je m'intéresse particulièrement au développement FullStack, un domaine large dans lequel je cherche à me perfectionner. 
            En dehors de l'informatique, je trouve également du plaisir à me ressourcer à travers des activités artistiques telles que la musique et les jeux vidéos.</p>
        </div>
    </div>
</div>