.project {
    h1 {
        text-align: center;
        padding: 10px;
        font-size: 250px;
        background-color: var(--yellow);

        border-bottom: 60px solid var(--black);
    }

    text-align: justify;

    svg {
        position: absolute;
        top : 3vh;
        left: 2vw;

        :hover {
            cursor: pointer;
        }
    }

    &--items {

        img {
            border: 4px solid var(--black);
            height: 300px;
        }

        display: flex;
        flex-direction: column;
        gap: 20px;

        &__item {

            &__title {

                display: flex;
                margin: 30px 75px 100px 30px;

                h2 {
                    margin-left: 5px;
                    font-size: 50px;
                }

            }

            &__description , &__competences {

                display: flex;
                flex-direction: row;
                gap: 20px;
                margin: 5vh 20vw;
                
            }

            &__description {
                align-items: center;
                justify-content: center;
            }

            &__competences {

                display: flex;
                flex-direction: column;
                gap : 50px;

                div {

                    display: flex;
                    flex-direction: row;
                    align-items: center;  

                    gap: 40px;

                    h3 {
                        display: flex;
                        justify-content: center;
                        align-items: center;   
                        background-color: var(--yellow);
                        color: var(--black);
                        font-size: 25px;

                        padding: 0 10px;
                    
                        min-width: 130px;
                        height: 80px;

                        border-radius: 10px ;
                    }

                }
         
            }

            &__images{

                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 30px;

                img {
                    max-height: 170px;
                }
                
            }
        }  
    }   
}