
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Jost,
    density: 0,
  ));
}

:root {
    --white : #f1f1f1;
    --white-rgb : 241, 241, 241;
    --black : #131313;
    --yellow : #f1ca18;
    --yellow-dark : #dfb706;
    --yellow-rgb : 225, 185, 9;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", serif;   
}

body {
    background-color: var(--white);
    width: 100vw;
    min-height: 100vh;
}

body, html {
    overflow-x: hidden;
}

.black {
    background-color: var(--black);
}

.white {
    background-color: var(--white);
}

.separator {
    padding: 1.3px;
    margin: 0 2% 0 0;
    transform: translateX(-50%);

    border-radius: 10px;
  }

.link {
    display: flex;
    align-items: center;
    margin : 3%;

    text-decoration: none !important;
    color : var(--white);

    &:hover {
        color : var(--yellow); 
    }

    p {
        margin: 10px;
        font-weight: bold;
    }
}

.arrow{
    display: flex;
    justify-content: center;

    img {
        position: relative;
        z-index: 1;
    
        margin-top: -3vh;
        color : var(--black);
    }
}

#EXPERIENCES,
#PROJETS,
#COMPETENCES,
#FORMATIONS {
  scroll-margin-top: 250px;
}