<footer>
    <div></div>

    <div>
        <div>
            <a href="#EXPERIENCES" class="link">Experiences</a>
            <a href="#FORMATIONS" class="link">Formations</a>
            <a href="#PROJETS" class="link">Projets</a>
            <a href="#COMPETENCES" class="link">Compétences</a>
        </div>

        <div class="separator white"></div>

        <div>
            <a href="https://github.com/NilaTess" class="link">
                GitHub
            </a>

            <a href="https://www.linkedin.com/in/nila-giraud-a39a55296/" class="link"> 
                Linkedin
            </a>
            
            <a href="mailto:nila.giraud@gmail.com" class="link">
                nila.giraud&#64;gmail.com
            </a>

        </div>

        <div class="separator white"></div>

        <div>
            <a href="#" class="link">Me contacter</a>
        </div>
    </div>


    <p>  - Nila-Giraud©2025 -  </p>

</footer>